<mat-nav-list role="list" (click)="toggleSidenav()">
  <a mat-list-item *ngIf="!isAuth" routerLink="/signup">
    <mat-icon>face</mat-icon>
    <span class="nav-item"> Signup </span>
  </a>
  <a mat-list-item *ngIf="!isAuth" routerLink="/login">
    <mat-icon>input</mat-icon>
    <span class="nav-item"> Login </span>
  </a>
  <a mat-list-item *ngIf="isAuth && authType==='user'" routerLink="/training">
    <mat-icon>fitness_center</mat-icon>
    <span class="nav-item"> Training </span>
  </a>
  <a mat-list-item *ngIf="isAuth && authType==='admin'" routerLink="/admin">
    <mat-icon>admin</mat-icon>
    <span class="nav-item"> Admin </span>
  </a>
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-item"> Logout </span>
    </button>
  </mat-list-item>
</mat-nav-list>